{
    "rules": {
        "indent": 2,
        "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
        "eol-last": 2,
        "no-lonely-if": 2,
        "no-trailing-spaces": 2,
        "one-var-declaration-per-line": [2, "always"]
    },
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true
    },
    "extends": "eslint:recommended"
}
